@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

body {
  font-family: "Sora", sans-serif;
}
.item-button button {
  margin-top: 20px;
  width: 200px;
  background-color: rgb(18, 105, 12);
  color: white;

}


.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index:100;
}
.spinner-border{
  height: 100px;
  width: 100px;
}

.category{
  border: 2px solid gray;
  margin-right: 25px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.category img{
  margin-left: 10px;

}

.category-active{
  border: 2px solid green;
  background-color: rgba(128, 128, 128, 0.503);
}


/* ====================== register page ===============================*/
.register{
   display: flex;
   border: 1px solid grey;
   align-items: center;
   justify-content: center;
   height: 100vh;
   flex-direction: column;
   
}

.register input {
  width: 400px;
}
.register-form{
  background-color: rgb(246, 233, 170);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.register-form h1{
  text-align: center;
  background-color: #142d4c;
  color: rgb(246, 233, 170);
  padding: 10px;
}
.register-form h3{
  color: 142d4c;
  text-align: center;
}